.planning-container {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.training-box {
  background-color: #515151;
  border: 2px solid #343434;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.training-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.training-creation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button[type='submit'] {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  align-self: center;
}

button[type='submit']:hover {
  background-color: #218838;
}

.add-training-to-list {
  background-color: #2459f9;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
}

.add-training-to-list:hover {
  background-color: #0130bf;
}

.remove-training-from-list {
  background-color: #fe4444;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  align-self: center;
}

.remove-training-from-list:hover {
  background-color: #c72323;
}

.training-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #3f3f3f;
}