.training-table {
  max-width: 1000px;
  margin: 30px auto;
  padding: 1rem;
  background-color: #515151;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #343434;
}

.training-table-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
  /* border-bottom: 2px solid #ccc; */
  background-color: #515151;;
  border-radius: 5px;
}

.table-item {
  flex: 1;
  text-align: center;
}
