.training-history-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 1rem;
  background-color: #515151;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #343434;
  color: white;
}

.training-history-header {
  text-align: center;
  margin-bottom: 20px;
}

.training-filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.training-filters select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #888;
  background-color: #3a3a3a;
  color: white;
}

.training-filters div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.training-filters label {
  margin-bottom: 4px;
  font-weight: bold;
}

.training-list {
  list-style: none;
  padding-left: 0;
}

.training-list li {
  padding: 8px 12px;
  background-color: #686868;
  margin-bottom: 6px;
  border-radius: 6px;
  border: 1px solid #444;
}

.training-stats {
  margin-top: 30px;
}

.training-stats ul {
  list-style: none;
  padding-left: 0;
}

.training-stats li {
  padding: 6px 10px;
  background-color: #4a4a4a;
  margin-bottom: 6px;
  border-radius: 6px;
  border: 1px solid #333;
}

.training-counter {
    color: rgb(201, 68, 68);
    font-weight: 900;
}
